// RESET

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}

:root {
  --color-yellow: #fffb00;
}

//HEADER ---------------------------------------

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  width: 70vw;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30vw;
  height: auto;
}

.nav-link-container {
}

.nav-link {
  text-decoration: none;
  color: black;
  margin: 0rem 1rem;
  padding: 0.25rem;

  &:hover {
    background-color: var(--color-yellow);
    transition: all 0.3s;
  }
}

.nav-link:hover {
}

// HOMEPAGE ---------------------------------------

.homepage-container {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  width: 70vw;
  margin: auto;
}

// ARTICLE SELECTOR ---------------------------------------

.articleSelector-container {
  display: flex;
  flex-direction: column;
  margin: 0rem 2rem;
  height: 60vh;

  // border: 1px solid green;

  a {
    padding: 0.25rem;
    text-decoration: none;
    color: black;

    &:hover {
      background-color: var(--color-yellow);
      transition: all 0.3s;
    }
  }
}

// ARTICLE ---------------------------------------

.article-container {
  display: flex;
  flex-direction: column;
  // border: 1px solid red;
  width: 60vw;
}

// SWIPER GALLERY ---------------------------------------

.swiper-block {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}

.swiper-container {
  width: 500px;
}

.swiper-wrapper {
  padding-inline-start: 0;
}

// FOOTER ---------------------------------------

.footer-container {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;

  height: 10vh;
  background-color: black;
  color: white;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  // border: solid 1px red;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border: solid 1px #fffb00;
}

.footer-icon {
  margin: 0;
  padding: 0;
  height: 1rem;
  margin: 0.5rem;
}

// ABOUT ---------------------------------------

.about-container {
  margin: 2rem;
}

.about-bulletpoints {
  list-style: none;
}
