// RESET

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 90vh;
  width: 100vw;
}

//HEADER

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30vw;
  height: auto;
}

.nav-link-container {
}
.nav-link {
  text-decoration: none;
  color: black;
  margin: 0rem 1rem;
}

.nav-link:hover {
  text-decoration: none;
  color: black;
  margin: 0rem 1rem;
  background-color: #fffb00;
}

.homepage-container {
  display: flex;
}

// ARTICLE SELECTOR

.articleSelector-container {
  display: flex;
  flex-direction: column;
  margin: 0rem 2rem;
}

// ARTICLE

.article-container {
}

// FOOTER

.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 10vh;
  background-color: black;
  color: white;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  // border: solid 1px red;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border: solid 1px #fffb00;
}

.footer-icon {
  margin: 0;
  padding: 0;
  height: 1rem;
  margin: 0.5rem;
}

// ABOUT

.about-container {
  margin: 2rem;
}

.about-bulletpoints {
  list-style: none;
}
